/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter-Variable';
    --accent-font: 'PressStart2P';
    --title-weight: 700;
    --text-weight: 400;
    --bg-color: #fff;
    --main-color: #000;
    --change-text-color: #fff;
    --fill-heart: red;
    --bg-gradient: 
      repeating-linear-gradient(-90deg, #d3d3d3, transparent 4px),
      repeating-linear-gradient(#d3d3d3, transparent 4px),
      linear-gradient(#e7e7e7 0.01%, #1a1a1a);

}